html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;;
}

body {
    background-color: #c2e2f2;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.page-brightness {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    column-gap: 25px;
}

.light-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.dark-mode {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
}

.calc-body {
    display: flex;
    flex-direction: column;
    border: 12px solid #444647;
    height: 550px;
    width: 450px;
    margin-top: 75px;
    background-color: white;
}

.calc-screen {
    height: 30%;
    width: 100%;
    background-color: rgb(132, 128, 128);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc-previous-screen {
    height: 45%;
    width: 95%;
    background-color: rgb(205, 204, 204);
    opacity: .7;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    font-weight: bold;
    font-size: 32px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calc-current-screen {
    height: 45%;
    width: 95%;
    background-color: rgb(205, 204, 204);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    font-weight: bold;
    font-size: 32px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.calc-bottom {
    display: flex;
    flex-direction: row;
    height: 70%;
    width: 100%;
}

.calc-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 75%;
}

.left-top {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.clear {
    width: 63%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    background-color: rgb(109, 182, 175);
}

.negative {
    width: 30%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    background-color: rgb(109, 182, 175);
}

.nums {
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.nums button {
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    background-color: rgb(113, 153, 193);
}

.left-bot {
    display: flex;
    flex-direction: row;
    height: 20%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.zero {
    width: 63%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    background-color: rgb(226, 169, 237);
}

.decimal {
    width: 30%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    background-color: rgb(226, 169, 237);
}

.calc-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    align-items: center;
    justify-content: space-evenly;
}

.divide,
.multiply,
.subtract,
.add,
.equal {
    display: flex;
    width: 90%;
    height: 18%;
    background-color: orange;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
}

button {
    border: 3px solid black;
    border-radius: 16px;
}

button:hover {
    opacity: .5;
    cursor: pointer;
}

.light-mode:hover,
.dark-mode:hover {
    background-color: #08adff;
    color: gold;
}